<div class="container">
    <div class="col-xs-12">
        <button class="btn btn-primary" (click)="toggleNumbers()">Show Numbers</button>
    </div>
    <hr>
    <div class="col-xs-12">
            <ng-template [ngIf]="showNumbers">
                <h2 highlighter defaultColor='pink'>Even Numbers</h2>
                <hr>
            <ul class="list-group">
                <div *ngFor="let x of array">
                    <div *ngIf="(x % 2) == 0">
                        <li highlighter class="list-group-item">{{x}}</li>
                    </div>
                </div>
            </ul>
        </ng-template>
        <ng-template [visibility]="showNumbers">
            <hr>
            <h2 highlighter defaultColor='pink'>Odd Numbers</h2>
        <hr>
        <ul class="list-group">
            <div *ngFor="let x of array">
                <div *ngIf="(x % 2) != 0">
                    <li highlighter class="list-group-item">{{x}}</li>
                </div>
            </div>
        </ul>
        </ng-template>
    </div>
</div>